<.header>
  Scrapped links for <%= @website.name %>
  <:subtitle>Total <%= @website.total_links %></:subtitle>
</.header>


<.table
  id="crawler_links"
  rows={@website.links}
>
  <:col :let={link} label="Url"><%= link.url %></:col>
  <:col :let={link} label="Content"> <%= link.content %></:col>
</.table>


<.back navigate={~p"/crawler_websites"}>Back to crawler_websites</.back>
